body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

.game-container {
    color: black;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: darkcyan;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    padding: 6px 12px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

button {
    padding: 6px 12px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}